---
# Only the main Sass file needs front matter (the dashes are enough)
sitemap: false
---

@charset "utf-8";

$serif-font-family: "Cookie", serif;
$entry-title-weight: normal;
$page-title-weight: normal;
$base-font-size: 20px;

@import "so-simple";

.site-title {
    font-family: $serif-font-family;

}

.entry-meta .entry-date, 
.entry-meta .read-time,
.page-sidebar .page-date,
.page-sidebar .read-time {
    font-family: $sans-serif-font-family;
}

.entries-list .entry-title {
    @include fluid-type($min-vw, $max-vw, 26px, 38px);
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}

.entries-grid .entry-title {
    @include fluid-type($min-vw, $max-vw, 26px, 38px);
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}